
pandas
sentence-transformers
qdrant-client
fastapi
uvicorn
python-jose
passlib[bcrypt]
pymongo
python-dotenv
pydub==0.25.1
audioop-lts

langchain-community
langchain-google-genai
langchain
numpy
spacy
google-generativeai
groq
demjson3
